[Unit]
Description=poc-gce-logging-router
After=network.target

[Service]
ExecStart=/usr/bin/python /opt/poc-gce-logging-router/main.py
WorkingDirectory=/opt/poc-gce-logging-router/
Restart=always

[Install]
WantedBy=multi-user.target